<h2>Getting stop information</h2>
<ul>
  <li>To get the DIVA ID, head to the <a href="http://ptv.vic.gov.au/next5">Next5</a> page on the PTV website and select a mode / direction / stop.</li>
  <li>The DIVA ID will be in the URL of the stop. For example, on <a href="http://ptv.vic.gov.au/next5/diva/10002284/line/2041/3">31-Little Page St/Victoria Ave (Albert Park)</a>, the DIVA ID is 2041</li>
</ul>

<%= form_for(@stop) do |f| %>
  <% if @stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :routes_serviced %><br>
    <%= f.text_field :routes_serviced %>
  </div>
  <div class="field">
    <%= f.label :stop_name %><br>
    <%= f.text_field :stop_name %>
  </div>
  <div class="field">
    <%= f.label :operator %><br>
    <%= f.text_field :operator %>
  </div>
  <div class="field">
    <%= f.label :diva_id %><br>
    <%= f.text_field :diva_id %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
    <%= f.select :mode, options_for_select([["Tram", 1], ["Bus", 2]]) %>
  </div>
  <div class="field">
    <%= f.label :currently_checked %><br>
    <p>Disable this checkbox and it won't be checked each time the app hits the API</p>
    <%= f.check_box :currently_checked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
