<p>
  <%= link_to 'Bus Page', ptv_bus_path %>
  <%= link_to 'Bus Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Tram Page', ptv_tram_path %>
  <%= link_to 'Tram Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Weather Feed', forecast_index_path %>
</p>

<h1>Ptv Bus</h1>


<%= render 'routes' %>





