<%= link_to 'Bus Page', ptv_bus_path %>
|
<%= link_to 'Tram Page', ptv_tram_path %>
|
<%= link_to 'Weather Page', forecast_index_path %>

<h1>Ptv Bus</h1>
<%= link_to 'JSON Feed', ptv_bus_check_path %>

<%= render 'routes' %>





