<%= @val %>
<p>
  <%= @stop_info.count %>
<% @stop_info.each do |si| %>
  <p>
    <%= si[:route] %>
    <%= si[:stop] %>
    <%= si[:operator] %>
    <%= si[:diva_id] %>
    <%= si[:mode] %>
  </p>  
<% end %>  

</p>
RTP: <%= @overall_percentage %>
