<%= link_to 'Bus Page', ptv_bus_path %>
|
<%= link_to 'Tram Page', ptv_tram_path %>
|
<%= link_to 'Weather Page', forecast_index_path %>
<h1>Ptv Tram</h1>
<%= link_to 'Tram JSON Feed', ptv_tram_check_path %>

<%= render 'routes' %>
