<h2>PatStats</h2>
<p>
  A tool for the work Geckoboard dash - shows weather outside the office, and if RT values are being returned from Bus and Tram stops.
</p>
<p>
  <%= link_to 'Bus Page', ptv_bus_path %>
  <%= link_to 'Bus Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Tram Page', ptv_tram_path %>
  <%= link_to 'Tram Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Weather Feed', forecast_index_path %>
</p>




