<p>
  <h2>PTDashStats</h2>
  <%= link_to 'Home', root_path %>
  |
  <%= link_to 'Bus Page', ptv_bus_path %>
  <%= link_to 'Bus Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Tram Page', ptv_tram_path %>
  <%= link_to 'Tram Feed', ptv_tram_check_path %>
  |
  <%= link_to 'Weather Page', forecast_index_path %>
  <%= link_to 'Weather Feed', forecast_weather_check_path %>
</p>